.WrongNameCity {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    max-width: 330px;
    background-color: darkgrey;
    height: 80px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: opacity 3s;
}